/*
    CLanC - Conlang Constructor
    Copyright (C) 2021 Zju @ ZBB (http://www.verduria.org)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

* {
  font-family: arial;
  font-size: 12pt;
}

body {
  background: beige;
  padding: 0;
}

html,body {
    height:99%;
}

.clanc-row-container {
  display: flex;
  height: 100%;
}

.clanc-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.clanc-header {
  flex: 0 1 auto;
}

.clanc-body {
  flex: 1 1 auto;
  overflow: hidden;
}

.clanc-footer {
  flex: 0 1 auto;
}

h2 {
  font-size: 10pt;
  border-bottom: 1px dotted gray;
}

ul {
  margin-left: 0;
  padding: 0;
  cursor: default;
}


.tabfilename {
  background-color: none;
  border: 0px solid #CCCC44;
  padding: 3px 3px;
  margin: 2px 2px;
  text-align: center;
  border-radius: 10px;
  font-size: 14px;
  display: inline-block;
}

.sgHidden {
  padding: 0px !important;
  display: hidden !important;
  border: none !important;
}

.sgNoColumnHeader {
  display: none !important;
}

.sgCellIrregularDerivation {
  font-weight:bold;
}

.sgCellNotUpToDate {
  background-color: rgb(247, 240, 233);
}

.smallbtn {
  background-color: transparent;
  border: none;
  border-color: none;
  color: #CCCC44;
  padding: 0px 0px;
  margin: 1px 1px;
  text-align: center;
  border-radius: 3px;
  font-size: 8px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  transition-delay: 0s;
  position: relative;
  display: inline-block;
}
/*

  position: relative;
*/

.smallbtn:hover {
  color: #1DDD55;
}

.smallbtn .tooltip {
  visibility: hidden;
  background-color: #DDDD55;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 2px 1px;
  border-radius: 6px;
  border-color: #BBBB44;
  border-style: solid;
  border-width: 1px;
  position: absolute;
  z-index: 100;
  width: 70px;
  top: -5px;
  left: 105%; 
}

.smallbtn:hover .tooltip {
  visibility: visible;
}


.closeBtn
{
  top: -8px;
  left: -3px;
  position: relative;
}

.infobox {
  background-color: #BBBBFF;
  color: #363699;

  border-color: rgb(117, 117, 218);
  border-style: solid;
  border-radius: 15px;
  border-width: 2px;

  padding: 10px 15px;
  margin-top: 5px;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  animation: infoPopUp 0.2s normal forwards step-end;
  animation-timing-function: linear;
}

@keyframes infoPopUp {
  0% {
    background-color: #7d7dff;
  }
  100% {
    background-color: #BBBBFF;
  }
}

.errorbox {
  background-color: #ffd3d3;
  color: #920000;
  border-color: rgb(218, 117, 117);
  animation: errorPopUp 0.2s normal forwards step-end;
  animation-timing-function: linear;
}

@keyframes errorPopUp {
  0% {
    background-color: #ff7c7c;
  }
  100% {
    background-color: #ffd3d3;
  }
}

.lexicon {
  width: 60%;
  height: 100%;
  box-sizing: border-box;
  background: white;

  border-style: solid;
  border-color: darkkhaki;
  border-width: 1px;
}

.btn {
  background-color: #CCCC44;
  border: none;
  color: white;
  padding: 9px 9px;
  margin: 2px 2px;
  text-align: center;
  border-radius: 18px;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  transition-delay: 0s;
  position: relative;
  display: inline-block;
}

.conlangbtn {
  padding: 2px 9px;
  border-radius: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.selected {
  background-color: #999900;
}

.selectedHighlight {
  background-color: #E6E6CE;
}

.fadeInAndOut {
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  transition-delay: 0s;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn:hover {
  background-color: #1DDD55;
}

.interface-frame {
  border-color: #999900;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  width: 100%;
  margin: 7px;
  padding: 15px;
}

.autofit-interface-frame {
  border-color: #999900;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  margin: 2px;
  padding: 2px;
}

.morphology-paradigm-border {
  border-color: #999900;
  border-style: solid;
  border-width: 0px 1px 0px 1px;
  margin: 0px;
  padding: 2px;
}

.btn .tooltip {
  visibility: hidden;
  background-color: #DDDD55;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 2px 1px;
  border-radius: 6px;
  border-color: #BBBB44;
  border-style: solid;
  border-width: 1px;
  position: absolute;
  z-index: 100;
  width: 80px;
  top: 110%;
  left: 50%;
  margin-left: -15px;
}

.btn .long-tooltip {
  visibility: hidden;
  background-color: #DDDD55;
  color: white;
  text-align: center;
  font-size: 14px;
  padding: 2px 1px;
  border-radius: 6px;
  border-color: #BBBB44;
  border-style: solid;
  border-width: 1px;
  position: absolute;
  z-index: 100;
  width: 150px;
  top: 110%;
  left: 50%;
  margin-left: -15px;
}

.btn:hover .tooltip {
  visibility: visible;
}

.btn:hover .long-tooltip {
  visibility: visible;
}

/*

  width: 80px;
  top: 110%;
  left: 50%;
  margin-left: -15px;
*/





span{
  display:block;
}

.tab {
  overflow: hidden;
  border: 1px solid #CCCC44;
  background-color: beige;
  border-radius: 8px;
}

.tab button {
  margin:5px 2px;
}

.tabss button {
  background-color: inherit;
  margin:0px 0px;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tabss button:hover {
  background-color: #ddd;
}

.tabss button.active {
  background-color: #ccc;
}

.settingName {
  display:inline-block;
  width:120px;
}

.settingInput {
  display:inline-block;
  width:200px;
  margin-top:5px;
}

.slick-headerrow-column input {
  margin-top: -4px;
  margin-left: -5px;
  background:seashell;
}

.newEntry {
  border-color:rgb(222, 232, 245);
  border-style: solid;
  border-width: 2px;
  color: blue;
  font-style: italic;
}

#highlightMode:disabled {
  opacity: 0.5;
}